*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(237, 238, 248);
}
.App{
    margin: 100px auto;
    
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;


}
form{
    padding: 8px;
  

    align-items: center;
    
}
input{
    border-radius: 8px;
   width: 365px;
    margin-top: 5px;
    padding: 8px
}

p{
    color: red;
    text-align: start;
}


button{
    width: 380px;
    padding: 8px;
    margin-top: 5px;
    color: wheat;
    font-size: large;
    background-color: rgb(255, 163, 25);
}
